.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.service-boxes-heading {
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.services-boxes-para {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: justify;
    line-height: 24px;
}

.service-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 60px 155px;
    gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.service-box-1,
.service-box-2,
.service-box-3,
.service-box-4,
.service-box-5,
.service-box-6 {
    position: relative;
    display: flex;
    gap: 40px;
    opacity: 0;
    transform: translateX(300px); /* Default starting position for animation */
    transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* Smooth transition */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 16px 36px;
    border-radius: 18px;
}

.service-img {
    height: 247px;
    width: 360px;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.service-box-subheading {
    font-size: 1.75rem;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
}

.service-box-para {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: justify;
}
